{% extends "base.html.twig" %}

{% block title %}Posts edit{% endblock %}

{% block body %}
<h1>Controller: Posts<br>Action: edit</h1>

<dl>
	<dt>Route Parameters:</dt>
	{% for key, value in params %}
	<dd>{{ key ~ ": " ~ value }}</dd>
	{% endfor %}
</dl>

<dl>
	<dt>Get Parameters:</dt>
	{% for key, value in gets %}
	<dd>{{ key ~ ": " ~ value }}</dd>
	{% endfor %}
</dl>
{% endblock %}