{% extends "userBase.html.twig" %}

{% block title %}
	500 Server error
{% endblock %}

{% block content %}
	<div class="screen-center-parent">
		<h1 class="screen-center">500 | Server Error</h1>
	</div>
{% endblock %}
