{% extends "base.html.twig" %}

{% block title %}Admin Users index{% endblock %}

{% block body %}
<h1>Controller: Admin/Users<br>Action: index</h1>

<table>
	<thead>
		<tr>
			{% for key, value in users[0] %}
			<th>{{ key }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			{% for value in user %}
			<td>{{ value }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}